#container{
   box-shadow: 0 0 3px rgba(174,32,18,1);
    width: 360px;
    margin: 100px auto;
    background-color: #ae2012;
}
.completed{
    color: #ae2012;
    text-decoration: line-through;
    opacity: 0.5;
}
h1{
    background: #fb8500;
    color: white;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: normal;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;    
}
li{
    background: #ffb703;
    height: 40px;
    line-height: 40px;
    color: black;
}
li:nth-child(2n){
    background: #fb8500;
}
input {
	font-size: 18px;
	color: #ae2012;
	background-color: #f7f7f7;
	width: 100%;
	padding: 13px 13px 13px 20px;
	box-sizing: border-box;
	border: 3px solid rgba(174,32,18,0);
}
input:focus{
	background: #fff;
	border: 3px solid #ae2012;
	outline: none;
}
body {
    background-image:linear-gradient( to left,#8ecae6, #023047); 
  }
.fa-plus{
    float: right;
}
span {
	background: #ae2012;
	height: 40px;
	margin-right: 20px;
	text-align: center;
	color: white;
	width: 0;
	display: inline-block;
	transition: 0.2s linear;
	opacity: 0;
}
li:hover span {
	width: 40px;
	opacity: 1.0;
}